<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GestureSpeak</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
  <button id="webcamButton">Open Webcam</button>

  <script>
      document.getElementById('webcamButton').addEventListener('click', function() {
          // Make an AJAX request to the Flask route
          fetch('/open_webcam')
              .then(response => {
                  if (response.ok) {
                      return response.text();
                  } else {
                      throw new Error('Failed to open webcam');
                  }
              })
              .then(data => {
                  console.log(data); // Log any response from the server
                  alert(data); // Show an alert with the response
              })
              .catch(error => {
                  console.error(error);
              });
      });
  </script>
</body>
</html>
